:root{
  --primary: #af4d4a;
  --secondary: #8c8c8c;
  --dark: #131a26;
  --light: #f5e3e0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}
body{
  background-color: var(--light);
}
.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}
.display{
  padding: 16px;
  justify-items: right;
  text-align: right;
  justify-content: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 20px;
  font-weight: 300;
}
.display span{
  font-size: 15px;
  color: #888;
}
button{
  appearance: none;
  border: none;
  outline: none;
  color: #131a26;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;

}
button:hover{
  opacity: 0.9;
}
.operators{
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}
.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 33.3333%;
  max-width: 33.333%;
  background-color: #fff;
}
.digits button:hover{
  background-color: #131a26;
  color: #fff;
}